body {
    font-family: Arial, sans-serif;
    background-color: #006232;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #004d2c;
    padding: 20px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 2em;
}

section#faq {
    width: 80%;
    margin: 20px 0;
}

.question {
    background-color: #007c47;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.question:hover {
    background-color: #006232;
}

.answer {
    background-color: #005c29;
    padding: 15px;
    display: none;
    margin-bottom: 20px;
    border-radius: 5px;
    animation: fadeIn 0.5s ease-out;
}

footer {
    background-color: #004d2c;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
}

a {
    color: #00c853;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
